* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #caf0f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas {
  border: 3px solid #03045e;
  background: #ade8f4;
}
