* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #05333b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas {
  border: 3px solid #000000;
  background: #000000;
}

#startScreen {
  position: absolute;
  width: 100%;
  height:100%;
  background: linear-gradient(#000000, #282829);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 10;
color: antiquewhite;
font-family: 'Courier New', Courier, monospace;
}

#startScreen h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#playButton {
  font-size: 24px;
  padding: 15px 40px;
  border: 2px solid #00ffff;
  border-radius: 12px;
  background: linear-gradient(145deg, #012a2a, #014d4e);
  color: #00ffff;
  box-shadow: 0 0 15px #00ffff70, 0 0 40px #00ffff30 inset;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#playButton:hover {
  background: #00ffff;
  color: #014d4e;
  box-shadow: 0 0 20px #00ffff, 0 0 60px #00ffff inset;
  transform: scale(1.05);
}



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}




#startScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("Images/startBackground.png"); 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}


#gameLogo {
  width: 400px;
  margin-bottom: 20px;
}



#roundScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #05333b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#roundScreen h2 {
  color: #0b96a2;
  margin-bottom: 60px;
  font-size: 36px;
  font-family: "Courier New", monospace;
}


.round-container {
  display: flex;
  gap: 120px;
  align-items: center;
  position: relative;
}


.round-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 80px;
  right: 80px;
  height: 4px;
  background: #00ffff;
  z-index: 0;
  opacity: 0.6;
}


.round-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s;
}




.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background:#014d4e;
  color: black;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  box-shadow: 0 0 20px #00ffff;
}

.circle:hover {
  background: #00ffff;
  color: #014d4e;
  box-shadow: 0 0 20px #00ffff, 0 0 60px #00ffff inset;
  transform: scale(1.05);
}
.round-node p {
  margin: 5px 0;
  font-size: 18px;
  color: white;
  font-family: "Courier New", monospace;
}




  

